@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(196, 192, 192);
}

.logo{
    border-radius: 50%;
}

.flexbox{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
}

.flex{
    margin-left: 35px;
    background: rgb(250, 250, 250);
    border-radius: 5px;
    padding: 5px;
    
}

.input{
    padding: 5px;
    background: transparent;
    border: none;
    outline: none;
}

.search_icon{
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

.all_icons{
    display: flex;
    justify-content: center;
    width: 20px;
    flex-grow: 25;
    background-color: lightgreen;
}








